
{% extends "UserData/base.html" %}
{% block page_content %}

            <h5 class="card-title">登入</h5>

            <form action = "{{url_for('UserData.login')}}" method = "POST">
                {{ form.csrf_token }}
                <fieldset>
                    {{ form.email.label }}
                    <br>
                    {{ form.email }}
                    <br>
                    {{ form.password.label }}
                    <br>
                    {{ form.password }}
                    <br>
                    <br>
                    <br>
                    {{ form.submit }}
                    <p>忘記密碼
                        <a href="{{ url_for('UserData.reset_password') }}">點選重置</a>
                    </p>
                    <p>沒有帳號？
                        <a href="{{ url_for('UserData.register') }}">點選註冊</a>
                    </p>   
                </fieldset>
            </form>
{% endblock page_content %}